@media (min-width: 1900px) and (max-width: 2560px) {
  .MaxTableWidth {
    width: 600px;
  }
}
@media (min-width: 2560px) and (max-width: 3440px) {
  .MaxTableWidth {
    width: 700px;
  }
}
@media (min-width: 3400px) {
  .MaxTableWidth {
    width: 800px;
  }
}
@media (min-width: 3840px) {
  .MaxTableWidth {
    width: 900px;
    height: 600px;
  }
}
