/* DriverDetailTable.css */
.custom-table-container {
  max-height: 470px;
  overflow-y: auto;
  /* Hide the scrollbar */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Hide scrollbar in Firefox */
}

/* Webkit browsers (Chrome, Safari, etc.) */
.custom-table-container::-webkit-scrollbar {
  width: 0px;
}

.custom-table-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide scrollbar thumb */
}

/* Firefox */
.custom-table-container::-moz-scrollbar {
  width: 6px;
}

.custom-table-container::-moz-scrollbar-thumb {
  background-color: transparent; /* Hide scrollbar thumb */
}
