.spinner {
  width: 100px;
  height: 100px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #465462 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .spinner {
    width: 130px;
    height: 130px;
    border: 6.5px solid #0000;
    border-color: #dbdcef #0000;
  }
  .spinner::before {
    margin: 3.2px;
  }
  .spinner::after {
    margin: 9.9px;
  }
}
@media (min-width: 2560px) and (max-width: 3440px) {
  .spinner {
    width: 150px;
    height: 150px;
    border: 7.5px solid #0000;
    border-color: #dbdcef #0000;
  }
  .spinner::before {
    margin: 4.2px;
  }
  .spinner::after {
    margin: 10.9px;
  }
}
@media (min-width: 3440px) and (max-width: 3840px) {
  .spinner {
    width: 170px;
    height: 170px;
    border: 8.5px solid #0000;
    border-color: #dbdcef #0000;
  }
  .spinner::before {
    margin: 5.2px;
  }
  .spinner::after {
    margin: 11.9px;
  }
}
@media (min-width: 3840px) {
  .spinner {
    width: 180px;
    height: 180px;
    border: 9.5px solid #0000;
    border-color: #dbdcef #0000;
  }
  .spinner::before {
    margin: 6.2px;
  }
  .spinner::after {
    margin: 12.9px;
  }
}
